<form class="form-inline" [formGroup]="myform" novalidate>
  <div class="form-group">
    <p>Form status: {{ myform.value | json }}</p>
    <p>Form status: {{ myform.status | json }}</p>
    <label for="mobile">手机号码：</label>
    <input class="form-control" id="mobile" type="text" formControlName="mobile">
  </div>
  <button class="btn btn-default" type="button" (click)="createComponent()">+</button>
</form>
<ng-template #inputContainer></ng-template>
<button class="btn btn-default" type="button" (click)="save()">保存</button>